<template>
  <b-container fluid class="home">
  <b-row class="justify-content-md-center">

      <b-col lg="4" md="12">
         <b-form @submit="onSubmit">
    
         <b-form-group id="input-group-2" label="Product Name:" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="form.name_prod"
              placeholder="Product name"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-1"
          label="Description"
          label-for="input-1">
            <b-form-textarea
              id="input-3"
              v-model="form.description"
              placeholder="Description"
              required
              rows="3"
              max-rows="6"
            ></b-form-textarea>
          </b-form-group>

        <b-form-group id="input-group-3" label="Count:" label-for="input-3">
         <b-form-spinbutton id="sb-inline" v-model="form.count" inline></b-form-spinbutton>
        </b-form-group>
         

      <b-button type="submit" variant="primary" class="mr-1">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
     </b-form>  <br>

     <!-- <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ items }}</pre>
    </b-card> <br> -->
   </b-col> 


     <b-col lg="6" md="12">
        <b-form-group
          label="Filter"
          label-for="filter-input"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm" 
        >
          <b-input-group size="sm">
            <b-form-input
              id="filter-input"
              v-model="filter"
              type="search"
              placeholder="Type to Search"
            ></b-form-input>

            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>

      <b-card>
      <b-table
        :items="items"
        :fields="fields"
        :filter="filter"
        stacked="md"
        show-empty
        medium
      >
   
      <template #cell(name_prod)="data">
        <span v-if="edit && editForm.id == data.index">
          <b-form-input
          type="text"
          size="sm"
          v-model="editForm.name_prod"
        />
        </span>
        <span v-else> {{data.item.name_prod}} </span>
        </template>

       <template #cell(description)="data">
         <span v-if="edit && editForm.id == data.index">
          <b-form-input
          type="text"
          size="sm"
          v-model="editForm.description"
        />
        </span>
        <span v-else> {{data.item.description}} </span>
      </template>

       <template #cell(count)="data">
        <span v-if="edit && editForm.id == data.index">
           <b-form-spinbutton v-model="editForm.count" size="sm" inline></b-form-spinbutton>
        </span>
        <span v-else>
           <span> {{data.item.count}} </span>
        </span>
      </template>

        <template #cell(actions)="row">
          <b-button size="sm" @click="update(row.index)" class="mr-1"  v-if="edit">
              Save
          </b-button>
            <b-button size="sm" @click="getDetails(row.index)" class="mr-1" v-else>
              Edit
          </b-button>
          <b-button size="sm" @click="deleteProd(row)">
              Delete
          </b-button>
     </template>
 
      </b-table>
    </b-card>
    </b-col>
    </b-row>
  </b-container>

</template>
<script>
export default {
  data() {
     return {
        form: {
          id: '',
          name_prod: '',
          count: 0,
          description: '',
        },
        editForm: {
          id: -1,
          name_prod: '',
          count: 0,
          description: '',
        },
        items: [
          { id: 23, description: 'Lorem ipsum sdad', count: 40, name_prod: 'Pencil'},
          { id: 48, description: 'Lorem ipsum sdad', count: 21, name_prod: 'Eraser'},
         
        ],
        fields: [
          { key: 'name_prod', label: 'Product', },
          { key: 'description', label: 'Description',  },
          { key: 'count', label: 'Count', },
          { key: 'actions', label: 'Actions' }
        ],
        products: [],
        filter: null,
        show: false,
        edit: false,
        number: -1
    
      }
  },
    methods: {

     deleteProd(item){
       this.items.splice(this.items.indexOf(item), 1)
     },

     onSubmit(event) {
        event.preventDefault()
          const Product = {
            id: Math.floor(Math.random() * 100) + 1,
            name_prod : this.form.name_prod,
            description: this.form.description,
            count: this.form.count
          }
          if (!this.items.includes(Product)) {
            this.items.push(Product)
            this.form.id = this.form.name_prod = this.form.description = '' 
            this.form.count = 0
          }
      },

    update(i) {
       this.edit = !this.edit
       this.items[i].name_prod = this.editForm.name_prod
       this.items[i].description = this.editForm.description
       this.items[i].count = this.editForm.count
    },

    getDetails(i) {
      // console.log(i)
       this.editForm.id = i
      //  console.log(this.editForm.id)
       this.editForm.name_prod = this.items[i].name_prod
       this.editForm.description = this.items[i].description
       this.editForm.count = this.items[i].count
       this.edit = !this.edit

      
    },
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.home{
  margin-top: 60px;
}




</style>
